In [3]:
#Importing libraries for data manipulation
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
#Reading 2022-23 premier league tables from website and counting how many tables are on the web page.
url_2022_23_table = 'https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats'
table_2022_23 = pd.read_html(url_2022_23_table)
print(f"Number of tables found: {len(table_2022_23)}")

#Selecting first table in the webpage
prem_2022_23_df = table_2022_23[0]

Number of tables found: 24

In [7]:
#Understanding dataframe and its structure
prem_2022_23_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester City,38,28,5,5,94,33,61,89,2.34,78.6,32.1,46.5,1.22,53249,Erling Haaland - 36,Ederson,→ Champions League via league finish
1,2,Arsenal,38,26,6,6,88,43,45,84,2.21,71.7,42.0,29.7,0.78,60191,"Martin Ødegaard, Gabriel Martinelli - 15",Aaron Ramsdale,→ Champions League via league finish
2,3,Manchester Utd,38,23,6,9,58,43,15,75,1.97,67.7,50.4,17.3,0.45,73671,Marcus Rashford - 17,David de Gea,→ Champions League via league finish
3,4,Newcastle Utd,38,19,14,5,68,33,35,71,1.87,71.9,39.5,32.3,0.85,52127,Callum Wilson - 18,Nick Pope,→ Champions League via league finish
4,5,Liverpool,38,19,10,9,75,47,28,67,1.76,71.5,50.8,20.7,0.55,53163,Mohamed Salah - 19,Alisson,→ Europa League via league finish

In [11]:
#Mapping unique values columns with the help of dictionary for team abbr to idnetify as a primary key on the table
abbr_team = {
    'Manchester City': 'MCI',
    'Arsenal': 'ARS',
    'Liverpool': 'LIV',
    'Aston Villa': 'AVL',
    'Tottenham': 'TOT',
    'Chelsea': 'CHE',
    'Newcastle Utd': 'NEW',
    'Manchester Utd': 'MUN',
    'West Ham': 'WHU',
    'Crystal Palace': 'CRY',
    'Brighton': 'BHA',
    'Bournemouth': 'BOU',
    'Fulham': 'FUL',
    'Wolves': 'WOL',
    'Everton': 'EVE',
    'Brentford': 'BRE',
    "Nott'ham Forest": 'NFO',
    'Luton Town': 'LUT',
    'Burnley': 'BUR',
    'Sheffield Utd': 'SHU',
    'Watford':'WAT',
    'Ipswich Town':'IPS',
    'Leicester City':'LEI',
    'Norwich City':'NOR',
    'Southampton':'SOU',
    'West Brom':'WBA',
    'Leeds United':'LEE'
}

In [13]:
#Map the abbreviations for 'Squad' and if abbrevations doesnot match fill cells with 'UNKNOWN'
prem_2022_23_df['Team'] = prem_2022_23_df['Squad'].map(abbr_team).fillna('UNKNOWN')

#Arranging columns in the dataframe as 'Team' column need to move at the front for more readable table.
columns = prem_2022_23_df.columns.tolist()
new_order = columns[:1] + ["Team"] + columns[1:-1]
prem_2022_23_df=prem_2022_23_df[new_order]

In [15]:
#Checking out dataframe columns and its order
prem_2022_23_df.columns

Index(['Rk', 'Team', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer',
       'Goalkeeper', 'Notes'],
      dtype='object')

In [19]:
#Droping some of unnecessay columns('Goalkeeper' and 'Notes'):
prem_2022_23_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_21896\538517437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2022_23_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

In [21]:
#Verifying table structures
prem_2022_23_df.head(5)

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer
0,1,MCI,Manchester City,38,28,5,5,94,33,61,89,2.34,78.6,32.1,46.5,1.22,53249,Erling Haaland - 36
1,2,ARS,Arsenal,38,26,6,6,88,43,45,84,2.21,71.7,42.0,29.7,0.78,60191,"Martin Ødegaard, Gabriel Martinelli - 15"
2,3,MUN,Manchester Utd,38,23,6,9,58,43,15,75,1.97,67.7,50.4,17.3,0.45,73671,Marcus Rashford - 17
3,4,NEW,Newcastle Utd,38,19,14,5,68,33,35,71,1.87,71.9,39.5,32.3,0.85,52127,Callum Wilson - 18
4,5,LIV,Liverpool,38,19,10,9,75,47,28,67,1.76,71.5,50.8,20.7,0.55,53163,Mohamed Salah - 19

In [23]:
# splitting top team scorer into top_scorers and top_score, which could be quite useful to us later. 
prem_2022_23_df[["Top_Scorers","Top_Scores"]] = prem_2022_23_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_21896\2169253581.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2022_23_df[["Top_Scorers","Top_Scores"]] = prem_2022_23_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

In [27]:
#Dropping 'Top Team Scorer' columns as we have splitted that columns into two separate columns( 'Top_Scorers' and 'Top_Scores')
prem_2022_23_df.drop("Top Team Scorer",axis = 1, inplace = True)

KeyError: "['Top Team Scorer'] not found in axis"

In [30]:
#Checking out the datatypes of each columns
prem_2022_23_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores      object
dtype: object

In [32]:
#Re-assigning data types for Column 'Top_Scorers' to string and Column 'Top_Scores' to integer.
prem_2022_23_df["Top_Scorers"] = prem_2022_23_df["Top_Scorers"].astype(str)
prem_2022_23_df["Top_Scores"] = prem_2022_23_df["Top_Scores"].astype(int)
prem_2022_23_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores       int32
dtype: object

In [36]:
#Verifying Top_Scorers and Top_Scores Columns
prem_2022_23_df.head(5)

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top_Scorers,Top_Scores
0,1,MCI,Manchester City,38,28,5,5,94,33,61,89,2.34,78.6,32.1,46.5,1.22,53249,Erling Haaland,36
1,2,ARS,Arsenal,38,26,6,6,88,43,45,84,2.21,71.7,42.0,29.7,0.78,60191,"Martin Ødegaard, Gabriel Martinelli",15
2,3,MUN,Manchester Utd,38,23,6,9,58,43,15,75,1.97,67.7,50.4,17.3,0.45,73671,Marcus Rashford,17
3,4,NEW,Newcastle Utd,38,19,14,5,68,33,35,71,1.87,71.9,39.5,32.3,0.85,52127,Callum Wilson,18
4,5,LIV,Liverpool,38,19,10,9,75,47,28,67,1.76,71.5,50.8,20.7,0.55,53163,Mohamed Salah,19

In [38]:
#Reading 2023-24 premier league tables from website and counting how many tables are on the web page.
url_2023_24_table = 'https://fbref.com/en/comps/9/2023-2024/2023-2024-Premier-League-Stats'
table_2023_24 = pd.read_html(url_2023_24_table)
print(f"Number of tables found: {len(table_2023_24)}")

#Selecting first table in the webpage
prem_2023_24_df = table_2023_24[0]

Number of tables found: 24

In [397]:
#Map the abbreviations for 'Squad' and if abbrevations doesnot match fill cells with 'UNKNOWN'
prem_2023_24_df['Team'] = prem_2023_24_df['Squad'].map(abbr_team).fillna('UNKNOWN')

#Arranging columns in the dataframe as 'Team' column need to move at the front for more readablility of dataframe.
columns = prem_2023_24_df.columns.tolist()
new_order = columns[:1] + ["Team"] + columns[1:-1]
prem_2023_24_df=prem_2023_24_df[new_order]

In [398]:
#Droping some of unnecessay columns:
prem_2023_24_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\2215816957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2023_24_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

In [399]:
# splitting top team scorer into top_scorers and top_score
prem_2023_24_df[["Top_Scorers","Top_Scores"]] = prem_2023_24_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\3229638320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2023_24_df[["Top_Scorers","Top_Scores"]] = prem_2023_24_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

In [400]:
prem_2023_24_df.drop("Top Team Scorer",axis = 1, inplace = True)

In [401]:
prem_2023_24_df["Top_Scorers"] = prem_2023_24_df["Top_Scorers"].astype(str)
prem_2023_24_df["Top_Scores"] = prem_2023_24_df["Top_Scores"].astype(int)
prem_2023_24_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores       int32
dtype: object

In [402]:
prem_2023_24_df

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top_Scorers,Top_Scores
0,1,MCI,Manchester City,38,28,7,3,96,34,62,91,2.39,80.5,35.6,44.9,1.18,53012,Erling Haaland,27
1,2,ARS,Arsenal,38,28,5,5,91,29,62,89,2.34,76.1,27.9,48.2,1.27,60236,Bukayo Saka,16
2,3,LIV,Liverpool,38,24,10,4,86,41,45,82,2.16,87.8,45.7,42.0,1.11,55979,Mohamed Salah,18
3,4,AVL,Aston Villa,38,20,8,10,76,61,15,68,1.79,63.3,59.9,3.4,0.09,41858,Ollie Watkins,19
4,5,TOT,Tottenham,38,20,6,12,74,61,13,66,1.74,68.2,63.4,4.8,0.13,61482,Son Heung-min,17
5,6,CHE,Chelsea,38,18,9,11,77,63,14,63,1.66,74.5,58.1,16.4,0.43,39524,Cole Palmer,22
6,7,NEW,Newcastle Utd,38,18,6,14,85,62,23,60,1.58,76.0,61.4,14.6,0.38,52125,Alexander Isak,21
7,8,MUN,Manchester Utd,38,18,6,14,57,58,-1,60,1.58,56.5,68.9,-12.5,-0.33,73533,"Rasmus Højlund, Bruno Fernandes",10
8,9,WHU,West Ham,38,14,10,14,60,74,-14,52,1.37,52.3,71.1,-18.8,-0.49,62567,Jarrod Bowen,16
9,10,CRY,Crystal Palace,38,13,10,15,57,58,-1,49,1.29,48.6,52.0,-3.4,-0.09,24932,Jean-Philippe Mateta,16
10,11,BHA,Brighton,38,12,12,14,55,62,-7,48,1.26,56.8,55.4,1.4,0.04,32638,João Pedro,9
11,12,BOU,Bournemouth,38,13,9,16,54,67,-13,48,1.26,55.9,58.1,-2.2,-0.06,11103,Dominic Solanke,19
12,13,FUL,Fulham,38,13,8,17,55,61,-6,47,1.24,50.8,62.9,-12.1,-0.32,24302,Rodrigo Muniz,9
13,14,WOL,Wolves,38,13,7,18,50,65,-15,46,1.21,46.7,67.7,-21.0,-0.55,31029,"Hwang Hee-chan, Matheus Cunha",12
14,15,EVE,Everton,38,13,9,16,40,51,-11,42,1.11,54.0,55.2,-1.2,-0.03,39042,"Abdoulaye Doucouré, Dominic Calvert-Lewin",7
15,16,BRE,Brentford,38,10,9,19,56,65,-9,39,1.03,58.2,56.0,2.2,0.06,17082,Yoane Wissa,12
16,17,NFO,Nott'ham Forest,38,9,9,20,49,67,-18,32,0.84,49.9,53.2,-3.3,-0.09,29386,Chris Wood,14
17,18,LUT,Luton Town,38,6,8,24,52,85,-33,26,0.68,42.4,78.0,-35.5,-0.94,11240,Carlton Morris,11
18,19,BUR,Burnley,38,5,9,24,41,78,-37,24,0.63,40.6,70.4,-29.7,-0.78,21184,Jacob Bruun Larsen,6
19,20,SHU,Sheffield Utd,38,3,7,28,35,104,-69,16,0.42,38.3,76.7,-38.4,-1.01,30011,"Oliver McBurnie, Ben Brereton",6

In [403]:
#Reading 2021-22 table from webiste
url_2021_22_table = 'https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats'
table_2021_22 = pd.read_html(url_2021_22_table)
print(f"Number of tables found:{len(table_2021_22)}")
prem_2021_22_df = table_2021_22[0]

Number of tables found:24

In [404]:
#Map the abbreviations for 'Squad'
prem_2021_22_df['Team'] = prem_2021_22_df['Squad'].map(abbr_team).fillna('UNKNOWN')

#Arranging columns in the dataframe
columns = prem_2021_22_df.columns.tolist()
new_order = columns[:1] + ["Team"] + columns[1:-1]
prem_2021_22_df=prem_2021_22_df[new_order]

In [405]:
#Droping some of unnecessay columns:
prem_2021_22_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\1663444764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2021_22_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

In [406]:
# splitting top team scorer into top_scorers and top_score
prem_2021_22_df[["Top_Scorers","Top_Scores"]] = prem_2021_22_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\3099041638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2021_22_df[["Top_Scorers","Top_Scores"]] = prem_2021_22_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

In [407]:
prem_2021_22_df.drop("Top Team Scorer",axis = 1, inplace = True)

In [408]:
prem_2021_22_df["Top_Scorers"] = prem_2021_22_df["Top_Scorers"].astype(str)
prem_2021_22_df["Top_Scores"] = prem_2021_22_df["Top_Scores"].astype(int)
prem_2021_22_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores       int32
dtype: object

In [409]:
prem_2021_22_df

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top_Scorers,Top_Scores
0,1,MCI,Manchester City,38,29,6,3,99,26,73,93,2.45,88.7,24.6,64.0,1.68,52774,Kevin De Bruyne,15
1,2,LIV,Liverpool,38,28,8,2,94,26,68,92,2.42,88.7,33.8,54.9,1.45,53352,Mohamed Salah,23
2,3,CHE,Chelsea,38,21,11,6,76,33,43,74,1.95,63.4,33.2,30.1,0.79,36443,Mason Mount,11
3,4,TOT,Tottenham,38,22,5,11,69,40,29,71,1.87,61.2,39.3,21.9,0.58,56523,Son Heung-min,23
4,5,ARS,Arsenal,38,22,3,13,61,48,13,69,1.82,60.5,45.7,14.9,0.39,59665,Bukayo Saka,11
5,6,MUN,Manchester Utd,38,16,10,12,57,57,0,58,1.53,55.8,53.0,2.8,0.07,73150,Cristiano Ronaldo,18
6,7,WHU,West Ham,38,16,8,14,60,51,9,56,1.47,51.4,53.5,-2.1,-0.06,58370,Jarrod Bowen,12
7,8,LEI,Leicester City,38,14,10,14,62,59,3,52,1.37,47.8,59.3,-11.5,-0.30,32493,Jamie Vardy,15
8,9,BHA,Brighton,38,12,15,11,42,44,-2,51,1.34,46.2,42.9,3.3,0.09,30966,"Leandro Trossard, Neal Maupay",8
9,10,WOL,Wolves,38,15,6,17,38,43,-5,51,1.34,37.5,56.9,-19.4,-0.51,30841,Raúl Jiménez,6
10,11,NEW,Newcastle Utd,38,13,10,15,44,62,-18,49,1.29,38.1,57.1,-19.0,-0.50,51487,Callum Wilson,8
11,12,CRY,Crystal Palace,38,11,15,12,50,46,4,48,1.26,46.4,40.7,5.7,0.15,24588,Wilfried Zaha,14
12,13,BRE,Brentford,38,13,7,18,48,56,-8,46,1.21,45.8,48.5,-2.7,-0.07,16918,Ivan Toney,12
13,14,AVL,Aston Villa,38,13,6,19,52,54,-2,45,1.18,44.0,49.0,-4.9,-0.13,41681,Ollie Watkins,11
14,15,SOU,Southampton,38,9,13,16,43,67,-24,40,1.05,44.8,60.0,-15.2,-0.40,30134,James Ward-Prowse,10
15,16,EVE,Everton,38,11,6,21,43,66,-23,39,1.03,41.2,55.4,-14.2,-0.37,38446,Richarlison,10
16,17,LEE,Leeds United,38,9,11,18,42,79,-37,38,1.00,44.4,67.8,-23.5,-0.62,36308,Raphinha,11
17,18,BUR,Burnley,38,7,14,17,34,53,-19,35,0.92,39.7,57.1,-17.4,-0.46,19278,Maxwel Cornet,9
18,19,WAT,Watford,38,6,5,27,34,77,-43,23,0.61,40.0,64.5,-24.5,-0.64,20614,Emmanuel Dennis,10
19,20,NOR,Norwich City,38,5,7,26,23,84,-61,22,0.58,32.3,75.5,-43.2,-1.14,26836,Teemu Pukki,11

In [410]:
#Reading 2020-21 table from website
url_2020_21_table = 'https://fbref.com/en/comps/9/2020-2021/2020-2021-Premier-League-Stats'
table_2020_21 = pd.read_html(url_2020_21_table)
print(f"Number of tables found: {len(table_2020_21)}")
prem_2020_21_df = table_2020_21[0]

Number of tables found: 24

In [411]:
#Map the abbreviations for 'Squad'
prem_2020_21_df['Team'] = prem_2020_21_df['Squad'].map(abbr_team).fillna('UNKNOWN')

#Arranging columns in the dataframe
columns = prem_2020_21_df.columns.tolist()
new_order = columns[:1] + ["Team"] + columns[1:-1]
prem_2020_21_df=prem_2020_21_df[new_order]

In [412]:
#Droping some of unnecessay columns:
prem_2020_21_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\3731182885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2020_21_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

In [413]:
# splitting top team scorer into top_scorers and top_score
prem_2020_21_df[["Top_Scorers","Top_Scores"]] = prem_2020_21_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\891576048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2020_21_df[["Top_Scorers","Top_Scores"]] = prem_2020_21_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

In [414]:
prem_2020_21_df.drop("Top Team Scorer",axis = 1, inplace = True)

In [415]:
prem_2020_21_df["Top_Scorers"] = prem_2020_21_df["Top_Scorers"].astype(str)
prem_2020_21_df["Top_Scores"] = prem_2020_21_df["Top_Scores"].astype(int)
prem_2020_21_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores       int32
dtype: object

In [416]:
prem_2020_21_df

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top_Scorers,Top_Scores
0,1,MCI,Manchester City,38,27,5,6,83,32,51,86,2.26,68.2,30.2,38.0,1.00,526,İlkay Gündoğan,13
1,2,MUN,Manchester Utd,38,21,11,6,73,44,29,74,1.95,60.1,41.4,18.6,0.49,526,Bruno Fernandes,18
2,3,LIV,Liverpool,38,20,9,9,68,42,26,69,1.82,67.5,43.0,24.5,0.65,837,Mohamed Salah,22
3,4,CHE,Chelsea,38,19,10,9,58,36,22,67,1.76,62.4,30.3,32.1,0.85,526,Jorginho,7
4,5,LEI,Leicester City,38,20,6,12,68,50,18,66,1.74,55.8,46.0,9.8,0.26,421,Jamie Vardy,15
5,6,WHU,West Ham,38,19,8,11,62,47,15,65,1.71,55.4,48.7,6.7,0.18,632,"Michail Antonio, Tomáš Souček",10
6,7,TOT,Tottenham,38,18,8,12,68,45,23,62,1.63,53.1,49.1,4.0,0.10,632,Harry Kane,23
7,8,ARS,Arsenal,38,18,7,13,55,39,16,61,1.61,51.8,43.0,8.8,0.23,632,Alexandre Lacazette,13
8,9,LEE,Leeds United,38,18,5,15,62,54,8,59,1.55,55.6,57.9,-2.2,-0.06,421,Patrick Bamford,17
9,10,EVE,Everton,38,17,8,13,47,48,-1,59,1.55,45.7,50.1,-4.5,-0.12,368,Dominic Calvert-Lewin,16
10,11,AVL,Aston Villa,38,16,7,15,55,46,9,55,1.45,52.5,51.1,1.4,0.04,526,Ollie Watkins,14
11,12,NEW,Newcastle Utd,38,12,9,17,46,62,-16,45,1.18,43.4,58.3,-14.9,-0.39,526,Callum Wilson,12
12,13,WOL,Wolves,38,12,9,17,36,52,-16,45,1.18,36.5,49.5,-13.0,-0.34,237,"Rúben Neves, Pedro Neto",5
13,14,CRY,Crystal Palace,38,12,8,18,41,66,-25,44,1.16,34.1,58.2,-24.2,-0.64,447,Wilfried Zaha,11
14,15,SOU,Southampton,38,12,7,19,47,68,-21,43,1.13,41.2,53.1,-11.8,-0.31,526,Danny Ings,12
15,16,BHA,Brighton,38,9,14,15,40,46,-6,41,1.08,50.9,35.3,15.6,0.41,523,Neal Maupay,8
16,17,BUR,Burnley,38,10,9,19,33,55,-22,39,1.03,39.3,54.7,-15.4,-0.40,178,Chris Wood,12
17,18,FUL,Fulham,38,5,13,20,27,53,-26,28,0.74,40.5,52.6,-12.1,-0.32,211,Bobby Reid,5
18,19,WBA,West Brom,38,5,11,22,35,76,-41,26,0.68,35.8,67.9,-32.0,-0.84,283,Matheus Pereira,11
19,20,SHU,Sheffield Utd,38,7,2,29,20,63,-43,23,0.61,32.6,62.2,-29.6,-0.78,263,David McGoldrick,8

In [417]:
#Reading 2019_20 table from wesite
url_2019_20_table = 'https://fbref.com/en/comps/9/2019-2020/2019-2020-Premier-League-Stats'
table_2019_20 = pd.read_html(url_2019_20_table)
print(f"Number of tables found: {len(table_2020_21)}")
prem_2019_20_df = table_2019_20[0]

Number of tables found: 24

In [418]:
#Map the abbreviations for 'Squad'
prem_2019_20_df['Team'] = prem_2019_20_df['Squad'].map(abbr_team).fillna('UNKNOWN')

#Arranging columns in the dataframe
columns = prem_2019_20_df.columns.tolist()
new_order = columns[:1] + ["Team"] + columns[1:-1]
prem_2019_20_df=prem_2019_20_df[new_order]

In [419]:
#Droping some of unnecessay columns:
prem_2019_20_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\748939052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2019_20_df.drop(['Goalkeeper','Notes'],axis = 1, inplace = True)

In [420]:
# splitting top team scorer into top_scorers and top_score
prem_2019_20_df[["Top_Scorers","Top_Scores"]] = prem_2019_20_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

C:\Users\Bibek.Parajuli\AppData\Local\Temp\ipykernel_17728\2493266148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prem_2019_20_df[["Top_Scorers","Top_Scores"]] = prem_2019_20_df["Top Team Scorer"].str.split('- ',n = 1,expand = True)

In [421]:
prem_2019_20_df.drop("Top Team Scorer",axis = 1, inplace = True)

In [422]:
prem_2019_20_df["Top_Scorers"] = prem_2019_20_df["Top_Scorers"].astype(str)
prem_2019_20_df["Top_Scores"] = prem_2019_20_df["Top_Scores"].astype(int)
prem_2019_20_df.dtypes

Rk               int64
Team            object
Squad           object
MP               int64
W                int64
D                int64
L                int64
GF               int64
GA               int64
GD               int64
Pts              int64
Pts/MP         float64
xG             float64
xGA            float64
xGD            float64
xGD/90         float64
Attendance       int64
Top_Scorers     object
Top_Scores       int32
dtype: object

In [423]:
prem_2019_20_df

,Rk,Team,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top_Scorers,Top_Scores
0,1,LIV,Liverpool,38,32,3,3,85,33,52,99,2.61,68.9,37.7,31.2,0.82,41955,Mohamed Salah,19
1,2,MCI,Manchester City,38,26,3,9,102,35,67,81,2.13,92.0,36.2,55.7,1.47,37097,Raheem Sterling,20
2,3,MUN,Manchester Utd,38,18,12,8,66,36,30,66,1.74,62.2,37.7,24.5,0.64,57415,"Anthony Martial, Marcus Rashford",17
3,4,CHE,Chelsea,38,20,6,12,69,54,15,66,1.74,69.2,38.6,30.6,0.81,32023,Tammy Abraham,15
4,5,LEI,Leicester City,38,18,8,12,67,41,26,62,1.63,62.2,45.5,16.7,0.44,25312,Jamie Vardy,23
5,6,TOT,Tottenham,38,16,11,11,61,47,14,59,1.55,47.9,54.2,-6.3,-0.17,43757,Harry Kane,18
6,7,WOL,Wolves,38,15,14,9,51,40,11,59,1.55,54.1,38.0,16.1,0.42,24758,Raúl Jiménez,17
7,8,ARS,Arsenal,38,14,14,10,56,48,8,56,1.47,47.0,55.3,-8.3,-0.22,47589,Pierre-Emerick Aubameyang,22
8,9,SHU,Sheffield Utd,38,14,12,12,39,39,0,54,1.42,43.0,51.0,-7.9,-0.21,24370,"Lys Mousset, Oliver McBurnie",6
9,10,BUR,Burnley,38,15,9,14,43,50,-7,54,1.42,47.4,49.8,-2.4,-0.06,15995,Chris Wood,14
10,11,SOU,Southampton,38,15,7,16,51,60,-9,52,1.37,56.1,52.8,3.3,0.09,23428,Danny Ings,22
11,12,EVE,Everton,38,13,10,15,44,56,-12,49,1.29,50.8,48.3,2.5,0.07,28848,"Dominic Calvert-Lewin, Richarlison",13
12,13,NEW,Newcastle Utd,38,11,11,16,38,58,-20,44,1.16,35.5,65.6,-30.1,-0.79,35551,Jonjo Shelvey,6
13,14,CRY,Crystal Palace,38,11,10,17,31,50,-19,43,1.13,35.8,57.0,-21.2,-0.56,19784,Jordan Ayew,9
14,15,BHA,Brighton,38,9,14,15,39,54,-15,41,1.08,45.4,55.0,-9.5,-0.25,22369,Neal Maupay,10
15,16,WHU,West Ham,38,10,9,19,49,62,-13,39,1.03,48.6,63.8,-15.2,-0.40,44155,Michail Antonio,10
16,17,AVL,Aston Villa,38,9,8,21,41,67,-26,35,0.92,44.3,67.8,-23.5,-0.62,28505,Jack Grealish,8
17,18,BOU,Bournemouth,38,9,7,22,40,65,-25,34,0.89,44.8,62.3,-17.5,-0.46,7745,Callum Wilson,8
18,19,WAT,Watford,38,8,10,20,36,64,-28,34,0.89,48.9,58.1,-9.3,-0.24,15353,Troy Deeney,10
19,20,NOR,Norwich City,38,5,6,27,26,75,-49,21,0.55,37.0,66.5,-29.5,-0.78,19913,Teemu Pukki,11

In [424]:
# All five tables has been updated in usable format:

In [425]:
try:
    home_away_2019_20_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2019_20_df.csv", encoding='utf-8')
except UnicodeDecodeError:
    # Try different encodings
    home_away_2019_20_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2019_20_df.csv", encoding='latin1')

In [426]:
home_away_2019_20_df

,Rk,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,H-Pts,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,Liverpool,19,18,1,0,52,16,36,55,...,3,33,17,16,44,2.32,29.8,20.8,9.0,0.47
1,2,Manchester City,19,15,2,2,57,13,44,47,...,7,45,22,23,34,1.79,46.2,21.8,24.5,1.29
2,3,Manchester Utd,19,10,7,2,40,17,23,37,...,6,26,19,7,29,1.53,28.5,19.7,8.8,0.46
3,4,Chelsea,19,11,3,5,30,16,14,36,...,7,39,38,1,30,1.58,28.8,26.7,2.1,0.11
4,5,Leicester City,19,11,4,4,35,17,18,37,...,8,32,24,8,25,1.32,33.8,23.6,10.2,0.54
5,6,Tottenham,19,12,3,4,36,17,19,39,...,7,25,30,-5,20,1.05,22.3,31.3,-9.0,-0.47
6,7,Wolves,19,8,7,4,27,19,8,31,...,5,24,21,3,28,1.47,24.6,19.9,4.7,0.24
7,8,Arsenal,19,10,6,3,36,24,12,36,...,7,20,24,-4,20,1.05,20.7,26.3,-5.6,-0.30
8,9,Sheffield Utd,19,10,3,6,24,15,9,33,...,6,15,24,-9,21,1.11,16.2,29.7,-13.5,-0.71
9,10,Burnley,19,8,4,7,24,23,1,28,...,7,19,27,-8,26,1.37,16.9,25.8,-8.9,-0.47
10,11,Southampton,19,6,3,10,21,35,-14,21,...,6,30,25,5,31,1.63,30.5,23.6,6.9,0.36
11,12,Everton,19,8,7,4,24,21,3,31,...,11,20,35,-15,18,0.95,23.7,24.1,-0.4,-0.02
12,13,Newcastle Utd,19,6,8,5,20,21,-1,26,...,11,18,37,-19,18,0.95,16.7,34.7,-18.1,-0.95
13,14,Crystal Palace,19,6,5,8,15,20,-5,23,...,9,16,30,-14,20,1.05,16.8,34.9,-18.0,-0.95
14,15,Brighton,19,5,7,7,20,27,-7,22,...,8,19,27,-8,19,1.00,21.9,29.2,-7.3,-0.39
15,16,West Ham,19,6,4,9,30,33,-3,22,...,10,19,29,-10,17,0.89,23.9,34.1,-10.2,-0.54
16,17,Aston Villa,19,7,3,9,22,30,-8,24,...,12,19,37,-18,11,0.58,20.4,35.6,-15.3,-0.80
17,18,Bournemouth,19,5,6,8,22,30,-8,21,...,14,18,35,-17,13,0.68,20.6,34.1,-13.4,-0.71
18,19,Watford,19,6,6,7,22,27,-5,24,...,13,14,37,-23,10,0.53,19.7,31.2,-11.5,-0.61
19,20,Norwich City,19,4,3,12,19,37,-18,15,...,15,7,38,-31,6,0.32,18.8,33.1,-14.3,-0.75

In [427]:
#Mapping dictionary for team abbr
abb_team = {
    'Manchester City': 'MCI',
    'Arsenal': 'ARS',
    'Liverpool': 'LIV',
    'Aston Villa': 'AVL',
    'Tottenham': 'TOT',
    'Chelsea': 'CHE',
    'Newcastle Utd': 'NEW',
    'Manchester Utd': 'MUN',
    'West Ham': 'WHU',
    'Crystal Palace': 'CRY',
    'Brighton': 'BHA',
    'Bournemouth': 'BOU',
    'Fulham': 'FUL',
    'Wolves': 'WOL',
    'Everton': 'EVE',
    'Brentford': 'BRE',
    "Nott'ham Forest": 'NFO',
    'Luton Town': 'LUT',
    'Burnley': 'BUR',
    'Sheffield Utd': 'SHU',
    'Watford':'WAT',
    'Ipswich Town':'IPS',
    'Leicester City':'LEI',
    'Norwich City':'NOR',
    'Southampton':'SOU',
    'West Brom':'WBA',
    'Leeds United':'LEE',
    "Nott'Ham Forest":'NFO'
}

In [428]:
home_away_2019_20_df["Squad"] = home_away_2019_20_df['Squad'].str.strip().str.title()

In [429]:
#Map the abbreviations for 'Squad'
home_away_2019_20_df['Team'] = home_away_2019_20_df['Squad'].map(abb_team).fillna('NOT ANY')

#Arranging columns in the dataframe
columns = home_away_2019_20_df.columns.tolist()
new_order = columns[:1] + ['Team'] + columns[1:-1]
home_away_2019_20_df = home_away_2019_20_df[new_order]

In [430]:
home_away_2019_20_df

,Rk,Team,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,LIV,Liverpool,19,18,1,0,52,16,36,...,3,33,17,16,44,2.32,29.8,20.8,9.0,0.47
1,2,MCI,Manchester City,19,15,2,2,57,13,44,...,7,45,22,23,34,1.79,46.2,21.8,24.5,1.29
2,3,MUN,Manchester Utd,19,10,7,2,40,17,23,...,6,26,19,7,29,1.53,28.5,19.7,8.8,0.46
3,4,CHE,Chelsea,19,11,3,5,30,16,14,...,7,39,38,1,30,1.58,28.8,26.7,2.1,0.11
4,5,LEI,Leicester City,19,11,4,4,35,17,18,...,8,32,24,8,25,1.32,33.8,23.6,10.2,0.54
5,6,TOT,Tottenham,19,12,3,4,36,17,19,...,7,25,30,-5,20,1.05,22.3,31.3,-9.0,-0.47
6,7,WOL,Wolves,19,8,7,4,27,19,8,...,5,24,21,3,28,1.47,24.6,19.9,4.7,0.24
7,8,ARS,Arsenal,19,10,6,3,36,24,12,...,7,20,24,-4,20,1.05,20.7,26.3,-5.6,-0.30
8,9,SHU,Sheffield Utd,19,10,3,6,24,15,9,...,6,15,24,-9,21,1.11,16.2,29.7,-13.5,-0.71
9,10,BUR,Burnley,19,8,4,7,24,23,1,...,7,19,27,-8,26,1.37,16.9,25.8,-8.9,-0.47
10,11,SOU,Southampton,19,6,3,10,21,35,-14,...,6,30,25,5,31,1.63,30.5,23.6,6.9,0.36
11,12,EVE,Everton,19,8,7,4,24,21,3,...,11,20,35,-15,18,0.95,23.7,24.1,-0.4,-0.02
12,13,NEW,Newcastle Utd,19,6,8,5,20,21,-1,...,11,18,37,-19,18,0.95,16.7,34.7,-18.1,-0.95
13,14,CRY,Crystal Palace,19,6,5,8,15,20,-5,...,9,16,30,-14,20,1.05,16.8,34.9,-18.0,-0.95
14,15,BHA,Brighton,19,5,7,7,20,27,-7,...,8,19,27,-8,19,1.00,21.9,29.2,-7.3,-0.39
15,16,WHU,West Ham,19,6,4,9,30,33,-3,...,10,19,29,-10,17,0.89,23.9,34.1,-10.2,-0.54
16,17,AVL,Aston Villa,19,7,3,9,22,30,-8,...,12,19,37,-18,11,0.58,20.4,35.6,-15.3,-0.80
17,18,BOU,Bournemouth,19,5,6,8,22,30,-8,...,14,18,35,-17,13,0.68,20.6,34.1,-13.4,-0.71
18,19,WAT,Watford,19,6,6,7,22,27,-5,...,13,14,37,-23,10,0.53,19.7,31.2,-11.5,-0.61
19,20,NOR,Norwich City,19,4,3,12,19,37,-18,...,15,7,38,-31,6,0.32,18.8,33.1,-14.3,-0.75

In [431]:
try:
    home_away_2020_21_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2020_21_dataframe.csv", encoding='utf-8')
except UnicodeDecodeError:
    # Try different encodings
    home_away_2020_21_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2020_21_dataframe.csv", encoding='latin1')

In [432]:
home_away_2020_21_df["Squad"] = home_away_2020_21_df['Squad'].str.strip().str.title()
#Map the abbreviations for 'Squad'
home_away_2020_21_df['Team'] = home_away_2020_21_df['Squad'].map(abb_team).fillna('NOT ANY')

#Arranging columns in the dataframe
columns = home_away_2020_21_df.columns.tolist()
new_order = columns[:1] + ['Team'] + columns[1:-1]
home_away_2020_21_df = home_away_2020_21_df[new_order]

In [433]:
home_away_2020_21_df

,Rk,Team,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,MCI,Manchester City,19,13,2,4,43,17,26,...,2,40,15,25.0,45.0,2.37,31.0,15.3,15.7,0.83
1,2,MUN,Manchester Utd,19,9,4,6,38,28,10,...,0,35,16,19.0,43.0,2.26,28.9,19.1,9.7,0.51
2,3,LIV,Liverpool,19,10,3,6,29,20,9,...,3,39,22,17.0,36.0,1.89,36.0,21.8,14.1,0.74
3,4,CHE,Chelsea,19,9,6,4,31,18,13,...,5,27,18,9.0,34.0,1.79,28.3,15.1,13.2,0.70
4,5,LEI,Leicester City,19,9,1,9,34,30,4,...,3,34,20,14.0,38.0,2.00,27.6,20.4,7.2,0.38
5,6,WHU,West Ham,19,10,4,5,32,22,10,...,6,30,25,5.0,31.0,1.63,30.7,23.8,7.0,0.37
6,7,TOT,Tottenham,19,10,3,6,35,20,15,...,6,33,25,8.0,29.0,1.53,23.5,27.3,-3.8,-0.20
7,8,ARS,Arsenal,19,8,4,7,24,21,3,...,6,31,18,13.0,33.0,1.74,28.8,19.8,9.0,0.47
8,9,LEE,Leeds United,19,8,5,6,28,21,7,...,9,34,33,1.0,30.0,1.58,25.0,35.0,-10.0,-0.52
9,10,EVE,Everton,19,6,4,9,24,28,-4,...,4,23,20,3.0,37.0,1.95,22.4,25.0,-2.6,-0.14
10,11,AVL,Aston Villa,19,7,4,8,29,27,2,...,7,26,19,7.0,30.0,1.58,24.6,25.2,-0.6,-0.03
11,12,NEW,Newcastle Utd,19,6,5,8,26,33,-7,...,9,20,29,-9.0,22.0,1.16,16.9,33.6,-16.7,-0.88
12,13,WOL,Wolves,19,7,4,8,21,25,-4,...,9,15,27,-12.0,20.0,1.05,16.6,28.9,-12.3,-0.65
13,14,CRY,Crystal Palace,19,6,5,8,20,32,-12,...,10,21,34,-13.0,21.0,1.11,18.3,30.1,-11.8,-0.62
14,15,SOU,Southampton,19,8,3,8,28,25,3,...,11,19,43,-24.0,16.0,0.84,20.3,30.7,-10.5,-0.55
15,16,BHA,Brighton,19,4,9,6,22,22,0,...,9,18,24,-6.0,20.0,1.05,20.2,21.1,-0.8,-0.04
16,17,BUR,Burnley,19,4,6,9,14,27,-13,...,10,19,28,-9.0,21.0,1.11,18.8,27.3,-8.6,-0.45
17,18,FUL,Fulham,19,2,4,13,9,28,-19,...,7,18,25,-7.0,18.0,0.95,21.8,26.7,-4.9,-0.26
18,19,WBA,West Brom,19,3,6,10,15,39,-24,...,12,20,37,-17.0,11.0,0.58,17.4,32.5,-15.1,-0.80
19,20,SHU,Sheffield Utd,19,5,1,13,12,27,-15,...,16,8,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [434]:
try:
    home_away_2021_22_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2021_22_df.csv", encoding='utf-8')
except UnicodeDecodeError:
    # Try different encodings
    home_away_2021_22_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2021_22_df.csv", encoding='latin1')

In [435]:
home_away_2021_22_df["Squad"] = home_away_2021_22_df['Squad'].str.strip().str.title()
#Map the abbreviations for 'Squad'
home_away_2021_22_df['Team'] = home_away_2021_22_df['Squad'].map(abb_team).fillna('NOT ANY')

#Arranging columns in the dataframe
columns = home_away_2021_22_df.columns.tolist()
new_order = columns[:1] + ['Team'] + columns[1:-1]
home_away_2021_22_df = home_away_2021_22_df[new_order]

In [436]:
home_away_2021_22_df

,Rk,Team,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,MCI,Manchester City,19,15,2,2,58,15,43,...,1,41,11,30,46,2.42,43.1,13.2,29.8,1.57
1,2,LIV,Liverpool,19,15,4,0,49,9,40,...,2,45,17,28,43,2.26,39.8,20.9,18.8,0.99
2,3,CHE,Chelsea,19,9,7,3,37,22,15,...,3,39,11,28,40,2.11,30.1,15.1,15.0,0.79
3,4,TOT,Tottenham,19,13,1,5,38,19,19,...,6,31,21,10,31,1.63,27.7,20.6,7.1,0.37
4,5,ARS,Arsenal,19,13,2,4,35,17,18,...,9,26,31,-5,28,1.47,23.2,27.9,-4.8,-0.25
5,6,MUN,Manchester Utd,19,10,5,4,32,22,10,...,8,25,35,-10,23,1.21,25.1,32.2,-7.1,-0.37
6,7,WHU,West Ham,19,9,5,5,33,26,7,...,9,27,25,2,24,1.26,23.4,31.9,-8.5,-0.45
7,8,LEI,Leicester City,19,10,4,5,34,23,11,...,9,28,36,-8,18,0.95,21.7,30.8,-9.2,-0.48
8,9,BHA,Brighton,19,5,7,7,19,23,-4,...,4,23,21,2,29,1.53,20.9,23.1,-2.1,-0.11
9,10,WOL,Wolves,19,7,3,9,20,25,-5,...,8,18,18,0,27,1.42,18.3,28.0,-9.8,-0.51
10,11,NEW,Newcastle Utd,19,8,6,5,26,27,-1,...,10,18,35,-17,19,1.00,16.9,29.8,-12.8,-0.68
11,12,CRY,Crystal Palace,19,7,8,4,27,17,10,...,8,23,29,-6,19,1.00,18.2,23.7,-5.5,-0.29
12,13,BRE,Brentford,19,7,3,9,22,21,1,...,9,26,35,-9,22,1.16,20.4,28.0,-7.6,-0.40
13,14,AVL,Aston Villa,19,6,5,8,29,29,0,...,11,23,25,-2,22,1.16,20.4,24.4,-4.0,-0.21
14,15,SOU,Southampton,19,6,7,6,23,24,-1,...,10,20,43,-23,15,0.79,23.0,35.7,-12.7,-0.67
15,16,EVE,Everton,19,9,2,8,27,25,2,...,13,16,41,-25,10,0.53,17.6,32.8,-15.2,-0.80
16,17,LEE,Leeds United,19,4,6,9,19,38,-19,...,9,23,41,-18,20,1.05,19.1,36.2,-17.1,-0.90
17,18,BUR,Burnley,19,5,6,8,18,25,-7,...,9,16,28,-12,14,0.74,16.9,31.4,-14.5,-0.76
18,19,WAT,Watford,19,2,2,15,17,46,-29,...,12,17,31,-14,15,0.79,20.3,30.6,-10.3,-0.54
19,20,NOR,Norwich City,19,3,3,13,12,43,-31,...,13,11,41,-30,10,0.53,15.1,40.4,-25.3,-1.33

In [437]:
try:
    home_away_2022_23_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2022_23_df.csv", encoding='utf-8')
except UnicodeDecodeError:
    # Try different encodings
    home_away_2022_23_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2022_23_df.csv", encoding='latin1')

In [438]:
home_away_2022_23_df["Squad"] = home_away_2022_23_df['Squad'].str.strip().str.title()
#Map the abbreviations for 'Squad'
home_away_2022_23_df['Team'] = home_away_2022_23_df['Squad'].map(abb_team).fillna('NOT ANY')

#Arranging columns in the dataframe
columns = home_away_2022_23_df.columns.tolist()
new_order = columns[:1] + ['Team'] + columns[1:-1]
home_away_2022_23_df = home_away_2022_23_df[new_order]

In [439]:
home_away_2022_23_df

,Rk,Team,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,MCI,Manchester City,19,17,1,1,60,17,43,...,4,34,16,18,37,1.95,35.9,19.3,16.6,0.87
1,2,ARS,Arsenal,19,14,3,2,53,25,28,...,4,35,18,17,39,2.05,29.1,22.7,6.4,0.34
2,3,MUN,Manchester Utd,19,15,3,1,36,10,26,...,8,22,33,-11,27,1.42,26.7,31.0,-4.3,-0.22
3,4,NEW,Newcastle Utd,19,11,6,2,36,14,22,...,3,32,19,13,32,1.68,28.6,23.9,4.7,0.25
4,5,LIV,Liverpool,19,13,5,1,46,17,29,...,8,29,30,-1,23,1.21,30.9,30.5,0.4,0.02
5,6,BHA,Brighton,19,10,4,5,37,21,16,...,7,35,32,3,28,1.47,32.6,27.5,5.0,0.27
6,7,AVL,Aston Villa,19,12,2,5,33,21,12,...,8,18,25,-7,23,1.21,20.9,28.8,-7.9,-0.41
7,8,TOT,Tottenham,19,12,1,6,37,25,12,...,8,33,38,-5,23,1.21,25.9,29.1,-3.2,-0.17
8,9,BRE,Brentford,19,10,7,2,35,18,17,...,7,23,28,-5,22,1.16,23.5,27.8,-4.4,-0.23
9,10,FUL,Fulham,19,8,5,6,31,29,2,...,10,24,24,0,23,1.21,21.9,33.9,-12.0,-0.63
10,11,CRY,Crystal Palace,19,7,7,5,21,23,-2,...,10,19,26,-7,17,0.89,18.9,24.8,-5.9,-0.31
11,12,CHE,Chelsea,19,6,7,6,20,19,1,...,10,18,28,-10,19,1.00,22.1,28.8,-6.7,-0.35
12,13,WOL,Wolves,19,9,3,7,19,20,-1,...,12,12,38,-26,11,0.58,15.7,33.3,-17.6,-0.93
13,14,WHU,West Ham,19,8,4,7,26,24,2,...,13,16,31,-15,12,0.63,21.8,28.5,-6.7,-0.35
14,15,BOU,Bournemouth,19,6,4,9,20,28,-8,...,12,17,43,-26,17,0.89,16.3,35.3,-19.0,-1.00
15,16,NFO,Nott'Ham Forest,19,8,6,5,27,24,3,...,13,11,44,-33,8,0.42,16.0,33.7,-17.7,-0.93
16,17,EVE,Everton,19,6,3,10,16,27,-11,...,8,18,30,-12,15,0.79,21.7,38.8,-17.1,-0.90
17,18,LEI,Leicester City,19,5,4,10,23,27,-4,...,12,28,41,-13,15,0.79,29.2,36.9,-7.8,-0.41
18,19,LEE,Leeds United,19,5,7,7,26,37,-11,...,14,22,41,-19,9,0.47,22.1,34.4,-12.2,-0.64
19,20,SOU,Southampton,19,2,5,12,19,37,-18,...,13,17,36,-19,14,0.74,17.3,31.1,-13.8,-0.73

In [440]:
home_away_2022_23_df.columns

Index(['Rk', 'Team', 'Squad', 'H-MP', 'H-W', 'H-D', 'H-L', 'H-GF', 'H-GA',
       'H-GD', 'H-Pts', 'H-Pts/MP', 'H-xG', 'H-xGA', 'H-xGD', 'H-xGD/90',
       'A-MP', 'A-W', 'A-D', 'A-L', 'A-GF', 'A-GA', 'A-GD', 'A-Pts',
       'A-Pts/MP', 'A-xG', 'A-xGA', 'A-xGD', 'A-xGD/90'],
      dtype='object')

In [507]:
try:
    home_away_2023_24_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2023_24_df.csv", encoding='utf-8')
except UnicodeDecodeError:
    # Try different encodings
    home_away_2023_24_df = pd.read_csv(r"C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\home_away_2023_24_df.csv", encoding='latin1')

In [509]:
home_away_2023_24_df["Squad"] = home_away_2023_24_df['Squad'].str.strip().str.title()
#Map the abbreviations for 'Squad'
home_away_2023_24_df['Team'] = home_away_2023_24_df['Squad'].map(abb_team).fillna('NOT ANY')

#Arranging columns in the dataframe
columns = home_away_2023_24_df.columns.tolist()
new_order = columns[:1] + ['Team'] + columns[1:-1]
home_away_2023_24_df = home_away_2023_24_df[new_order]

In [511]:
home_away_2023_24_df

,Rk,Team,Squad,H-MP,H-W,H-D,H-L,H-GF,H-GA,H-GD,...,A-L,A-GF,A-GA,A-GD,A-Pts,A-Pts/MP,A-xG,A-xGA,A-xGD,A-xGD/90
0,1,MCI,Manchester City,19,14,5,0,51,16,35,...,3,45,18,27,44,2.32,39.8,21.6,18.2,0.96
1,2,ARS,Arsenal,19,15,2,2,48,16,32,...,3,43,13,30,42,2.21,32.6,14.5,18.2,0.96
2,3,LIV,Liverpool,19,15,3,1,49,17,32,...,3,37,24,13,34,1.79,33.0,28.1,4.9,0.26
3,4,AVL,Aston Villa,19,12,4,3,48,28,20,...,7,28,33,-5,28,1.47,24.3,33.6,-9.3,-0.49
4,5,TOT,Tottenham,19,13,0,6,38,27,11,...,6,36,34,2,27,1.42,28.9,34.1,-5.2,-0.27
5,6,CHE,Chelsea,19,11,4,4,44,26,18,...,7,33,37,-4,26,1.37,30.3,33.1,-2.8,-0.15
6,7,NEW,Newcastle Utd,19,12,4,3,49,22,27,...,11,36,40,-4,20,1.05,29.6,36.4,-6.7,-0.36
7,8,MUN,Manchester Utd,19,10,3,6,31,28,3,...,8,26,30,-4,27,1.42,24.1,37.4,-13.2,-0.70
8,9,WHU,West Ham,19,7,8,4,31,28,3,...,10,29,46,-17,23,1.21,26.1,41.4,-15.3,-0.80
9,10,CRY,Crystal Palace,19,8,4,7,37,26,11,...,8,20,32,-12,21,1.11,21.2,31.1,-9.9,-0.52
10,11,BHA,Brighton,19,8,6,5,30,27,3,...,9,25,35,-10,18,0.95,24.7,30.1,-5.4,-0.28
11,12,BOU,Bournemouth,19,7,6,6,27,28,-1,...,10,27,39,-12,21,1.11,28.5,33.8,-5.3,-0.28
12,13,FUL,Fulham,19,9,2,8,31,24,7,...,9,24,37,-13,18,0.95,22.9,35.1,-12.2,-0.64
13,14,WOL,Wolves,19,8,3,8,26,30,-4,...,10,24,35,-11,19,1.00,23.5,37.2,-13.7,-0.72
14,15,EVE,Everton,19,8,4,7,22,18,4,...,9,18,33,-15,20,1.05,21.9,32.7,-10.8,-0.57
15,16,BRE,Brentford,19,5,7,7,29,34,-5,...,12,27,31,-4,17,0.89,27.4,26.3,1.2,0.06
16,17,NFO,Nott'Ham Forest,19,5,5,9,27,30,-3,...,11,22,37,-15,16,0.84,25.0,31.4,-6.5,-0.34
17,18,LUT,Luton Town,19,4,4,11,28,37,-9,...,13,24,48,-24,10,0.53,16.6,46.9,-30.2,-1.59
18,19,BUR,Burnley,19,2,4,13,19,43,-24,...,11,22,35,-13,14,0.74,18.0,41.3,-23.2,-1.22
19,20,SHU,Sheffield Utd,19,2,4,13,19,57,-38,...,15,16,47,-31,6,0.32,14.0,38.8,-24.8,-1.30

In [521]:
import os
# Specify the directory and file name using raw string
directory = r'C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset'
file_name = 'Premier League Matches Home and Away Dataset 2023-24 Season.csv'
file_path = os.path.join(directory, file_name)

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame to a CSV file in the specified directory
home_away_2023_24_df.to_csv(file_path, index=False)

print(f"File saved to {file_path}")

File saved to C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset\Premier League Matches Home and Away Dataset 2023-24 Season.csv

In [523]:
import os
# Specify the directory and file name using raw string
directory = r'C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset'
file_name = 'Premier League Matches Home and Away Dataset 2022-23 Season.csv'
file_path = os.path.join(directory, file_name)

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame to a CSV file in the specified directory
home_away_2022_23_df.to_csv(file_path, index=False)

print(f"File saved to {file_path}")

File saved to C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset\Premier League Matches Home and Away Dataset 2022-23 Season.csv

In [525]:
import os
# Specify the directory and file name using raw string
directory = r'C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset'
file_name = 'Premier League Table Dataset 2023-24 Season.csv'
file_path = os.path.join(directory, file_name)

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame to a CSV file in the specified directory
prem_2023_24_df.to_csv(file_path, index=False)

print(f"File saved to {file_path}")

File saved to C:\Users\Bibek.Parajuli\OneDrive - Education Centre of Australia\Desktop\Data Project\Cleaned Dataset\Premier League Table Dataset 2023-24 Season.csv